@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  background-color: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
/*@media(max-width:1000px){
    .app{
        width: 775px;
    }
}*/